html{
    background-image:url(https://i.pinimg.com/originals/7c/98/1a/7c981a6eccb242c2393ae52c5e1836ba.jpg);
    background-position: center;
}
form{
    text-indent: 15%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    
}
h1 {
    color: burlywood;
    text-align: center;
    font-size: xx-large;
  }
h2{
    color: whitesmoke;
    text-align: center;
}
p{
    text-indent: 20%;
}
#btn{
    background-color:darkseagreen;
    color: black;
}
#rst{
    background-color: indianred;
}
#tel{
    color: antiquewhite;
}
#mail{
    color: antiquewhite;
}
.container{
    padding-left: 15%;
    text-indent: 0%;
}
.container h3{
    color:cadetblue;
    text-indent: 15%;
}
h4{
    color: antiquewhite;
}