html{
    background-image:url("https://i.pinimg.com/originals/7c/98/1a/7c981a6eccb242c2393ae52c5e1836ba.jpg");
    background-position: center;
    padding: auto;
}
form{

    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4); 

}
h1 {
    color: burlywood;

    font-size: xx-large;
  }
h2{
    color: whitesmoke;
    
}
p{
    color: wheat;
}
#btn{
    background-color:darkseagreen;
    color: black;
}
#rst{
    background-color: indianred;
}
#tel{
    color: antiquewhite;
}
#mail{
    color: antiquewhite;
}

.container h3{
    color:antiquewhite;
}
h4{
    color: antiquewhite;
}